.login{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    background: #262A3A;
    display: flex;  
    justify-content: center;
    align-items: center;    
}
.login_container{
    width: 340px;
    height: 450px;
    background-color: #F16204;
    z-index: 6;
}
.login_container .header_container{
    background-color: #F16204;
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.login_container .header_container h1{
    color: #fff;
    padding: 5px;
}
