.register{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    background: #262A3A;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.register_container{
    width: 440px;
    height: 625px;
    background-color: #F16204;
}
.register_container .header_container{
    background-color: #F16204;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0px;
}
.register_container .header_container h1{
    color: #fff;
    padding: 5px;
}
.register_container .form_container a{
    color: rgb(0, 38, 255);
}
.register_container .form_container button{
    margin-top: 0;
}
