.ant-layout{
    background: #262A3A;
}
.ant-layout-content{
    margin-top: 64px;
    padding: 20px 10vw;
}
@media(max-width:750px){
    .ant-layout-content{
        margin-top: 0 !important;
    }
}   
.home__post_container{
    width: 100%;
    height: 100%;
}
.home__loading{
    width: 100%;
    height: 100vh;
    background-color: #262A3A;
    display: flex;
    justify-content: center;
    align-items: center;
}
