.ant-card{
    margin: 10px;
    background-color: #131313;
}
.ant-card:hover{
    animation: card-animation 1s ease-in-out;
}
@keyframes card-animation{
    0%{
        transform: rotateX(0deg) translateY(0px);
    }
    50%{
        transform: rotateX(7deg) translateY(-7px);
        box-shadow: 0px 10px 8px 2px rgb(51, 51, 51);
    }
    100%{
        transform: rotateX(0deg) translateY(0px);
    }
}
.card-icon .ant-card-actions > li > span a:not(.ant-btn),
 .ant-card-actions > li > span > .anticon{
    color: #910101;
}
.card-icon .ant-card-actions > li > span a:not(.ant-btn),
 .ant-card-actions > li > span > .anticon:hover{
    color: #910101;
}
.ant-btn-link{
    color: #ffdfdf;
}
.ant-btn-link:focus{
    color: #ffffff;
}
.card-icon:hover{
    color: #ffdfdf;
    cursor: auto;
}
.ant-card-actions > li:not(:last-child){
    border-right-color: #c73002;
}
.ant-card-meta-title{
    color: #FE5722;
}
.ant-card-meta-description{
    color: #acacac; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.ant-card-actions{
    background-color: #FE5722;
    border-top-color: #910101;
    height: 40px;
}
.card__container button:hover{
    cursor: pointer;
    color: white;
}
.card__container button{
    outline: 0!important;
    border: none;
}
.ant-card-actions > li{
    margin: 2px 0;
}
