.post_view{
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: #131313;
    padding: 0 !important;
}
.post_image_view_container{
    display: flex;
    justify-content: center;
}
.card{
    /* width: 100%; */
    padding: 20px;
    width: 800px;
    display: flex;
    flex-direction: column;
}
.card_image_container{
    width: 100%;
    margin-bottom: 20px;
}
.card_image_container img{
    width: 100%;
    object-fit: cover;
}
.card-body h1{
    margin-bottom: 10px;
    color: #FE5722;
}
.card-body .card-author{
    margin-bottom: 3px;
    font-size: 1rem;
    color: #9FA1A5;
}
.card-body .card-time{
    margin-bottom: 20px;
    font-size: 1rem;
    color: #9FA1A5;
}
.card-body .card-text{
    color: #E4E6EB;
}
h3{
    color: #9FA1A5;
}
.user-comments{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    margin: 10px;
}
.user-comments p{
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #FE5722;
}
.user-comments input{
    width: 100%;
    font-size: 0.9rem;
    height: 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #3A3B3C;
    padding-left: 15px;
    color: #acacac;
    
}
.user-comments input::placeholder{
    font-size: 0.8rem;
}
.user-comments span{
    text-align: right;
    padding-right: 15px;
    color: #acacac;
    margin-left: 140px;
}
.user-comments .anticon svg{
    cursor: pointer;
}
.user-comments .anticon svg:hover{
    color: #FE5722;
}
/* @media(max-width:1000px){
    .card{
        width: 90vw;
    }
} */
@media(max-width:750px){
    .user-comments{
        padding: 2px;
    }
}
