.ant-collapse-content > .ant-collapse-content-box{
    padding: 0;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
    color: #fff;
    position: fixed;
    z-index: 20;
}
.ant-collapse-borderless{
    background-color: #FE5722;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header{
    padding: 20px;
    position: fixed;
    z-index: 67;
}
.menu-icon{
    z-index: 5;
    position: absolute;
    left: 10px;
    color: #fff;
}
.ant-layout-header{
    border-bottom: 1px solid rgb(255, 31, 31);
}
.header{
    top: 0 !important;
    display: flex;
    padding: 0 10px;
    position: fixed;
    z-index: 8;
    width: 100%;
    background-color: #FE5722;
    justify-content: space-between;
    align-items: center;
}

.header .ant-btn > .anticon{
    color: rgb(255, 255, 255);
}
.logo{
    margin-top: 2px;
}
.logo h3{
    color: #fff;   
}
.logo span{
    color: #262A3A;
}
.search-bar{
    display: flex;
    align-items: center;
    margin-top: 2px; 
    height: 30px;   
}
.header .ant-input{
    background-color: #f05121;
    color: rgb(252, 232, 232);
    height: 20px;    
}
.search-bar span{
    border-radius: 18px;
    background-color: #f05121;
    border: 3px solid #ec4e1e;
    border-bottom-color: #f05121 ;
}
.search-bar .ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused{
    box-shadow: none;
    border: 4px solid #ec4e1e !important;
    border-bottom-color: #f05121 !important;
}
.search-bar .ant-input-suffix{
    border: none;
}
.header .ant-input-affix-wrapper:hover{
    border: 3px solid #ec4e1e;
}
.search-bar .anticon{
    border: none !important;
    color: #fff;
}
.header .ant-input::placeholder{
    color: #9c2400;
}
.user-button{
    font-weight: 500;
    margin-top: 2px;    
}
.button-newpost{
    margin: 0 10px;
    font-weight: 500;
    width: 130px;
}
.button-sign{
    margin: 0 10px;
    font-weight: 500;
    width: 95px;
}
.header-username{
    margin: 0 10px;
    color: rgb(255, 255, 255);
    font-weight: 500;  
    font-size: 1rem;    
}
.header-username .anticon{
    background: #fff;
    color: #FE5722;
    border-radius: 50%;
    padding: 3px;
}
.button-signout {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3rem;
    width: 52px;
}
.ant-btn-dangerous.ant-btn-text{
    color: #fff;
}
.header .ant-btn-dangerous.ant-btn-link{
    color: #fff;
    line-height: 1.3rem;
}
.user-button .ant-btn-dangerous.ant-btn-link:hover{
    border: 2px solid rgb(255, 152, 152);
    background: red;
}

@media(min-width:820px){
    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
        display: none;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header{
        cursor: auto;
    }
    .search-bar{
        width: 500px;
    }   
}
@media(max-width:1050px){
    .search-bar{
        width: 320px;
    } 
}
@media(max-width:960px){
    .search-bar{
        width: 280px;
    } 
}
@media(max-width:960px){
    .search-bar{
        width: 320px;
    } 
}
@media(max-width:860px){
    .search-bar{
        width: 280px;
    } 
}

@media(max-width:820px){
    .header{
        flex-direction: column;
        position: sticky;
    }
    .ant-layout-header{
        height: 180px;
    }
    .logo{
        margin-top: 2px;
    }
}
@media(max-width:450px){
    .button-newpost{
        margin: 0;  
    } 
    .header-username{
        margin-left: 0;
        padding-right: 5px;
    }
    .button-signout{
        padding: 0;
    }   
}    