.add{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    background: #262A3A;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.add_container{
    width: 440px;
    height: 545px;
    background-color: #F16204;
}
.add_container .header_container{
    background-color: #F16204;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_container .header_container h1{
    color: #fff;
}
.add_container .form_container a{
    color: rgb(0, 38, 255);
}
.add_container .form_container button{
    margin-top: 10px;
}
.post_img_up_con{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.post_img_up_con p{
    color: #fff;
    padding-left: 10px;
}
.img_upload{
    width: 100%;
    margin-bottom: 50px;
}
.file-upload{
    display:block;
    text-align:center;
    font-size: 12px;
}
.file-upload .file-select{
    display:block;
    color: #410000;
    cursor:pointer;
    height:40px;
    line-height:40px;
    text-align:left;
    background:#ffb29b;
    overflow:hidden;
	position:relative;
	border-radius: 30px;
}
.file-upload .file-select:hover{
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}
.file-upload .file-select:hover label{
    background:#f17624;
    color:#FFFFFF;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}
.file-upload label{
    z-index: 101;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #CA590F;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.file-upload .file-select input[type="file"] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 25px;
    border: none;
    outline: none;
}
.file-upload .file-select input:active,
.file-upload .file-select input:focus{
    outline: none;
    border: none;
}
.file-upload .file-select.file-select-disabled {
    opacity: 0.65;
}
.file-upload .file-select.file-select-disabled:hover {
    cursor: default;
    display: block;
    color: var(--col_2);
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #ffffff;
    overflow: hidden;
    position: relative;
}
.file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: var(--checkbox-color);
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
.file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}
.addpost__close{
    width: 100%;
    display: flex;
}
.addpost__close  .addPost__span{
    flex: 1;
}
.addpost__close  .anticon-close{
    margin: 10px;
    cursor: pointer;
    color: wheat;
}
.addpost__close  .anticon-close:hover{
    color: black;
}
