@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --col_1:rgba(255,184,125,1);
    --col_2:rgba(233,64,87,1);
    --col_3:rgba(242,113,33,1);
    --checkbox-size: 15px;
	--checkbox-color: #0E1A14;
	--tick-color: #021A0E;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    overflow: hidden;
    border-radius: 5px;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
}
form{
    width: 100%;
}
.header_container{
    background-color: #F16204;
    color: white;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
.form_container{
    padding: 0px 40px;
}
.input_container{
    width: 100%;
    padding: 20px 0px;
    position: relative;
}
.input_container input{
    width: 100%;
    font-size: 0.9rem;
    height: 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: rgba(70, 59, 51, 0.227);
    padding-left: 10px;
    color: #ffffff;
}
.input_container label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transition: all 0.3s linear;
    cursor: pointer;
    user-select: none;
    font-size: 0.85rem;
    color: #EBECF0;
    padding: 5px;
}
.input_container input:focus,
.input_container input:valid{
    outline: none;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
    font-size: 1rem;
    color: #632700;
    font-weight: 500;
}
.input_container input:focus ~ label,
.input_container input:valid ~ label{
    top: 10px;
    left: 0;
    font-size: 1rem;
    color: #fff;
    padding-bottom: 8px;
}
.form_container button{
    width: 100%;
    height: 45px;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 700;
    color: #F16204;
    border: none;
    border-radius: 30px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    transition: all 0.2s linear;
    position: relative;
    margin-top: 40px;
    	-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
}
.form_container button:hover{
    border: none;
    background-color: #f7e8da;
}
.form_container button:hover:active{
    transform: scale(0.95);
}
/* CheckBox Styling */
.checkboxes{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 0px 20px 0px;
    color: rgb(255, 242, 242);
}
.checkboxes label{
    cursor: pointer;
}
.checkboxes .recheck {
    cursor: pointer;
	display: inline-block;
	width: var(--checkbox-size);
	height: var(--checkbox-size);
	border: calc(var(--checkbox-size) * 0.125) solid #ffc2c2;
	border-radius: 12.5%;
	-webkit-transition: 400ms 100ms ease-out;
	-o-transition: 400ms 100ms ease-out;
    transition: 400ms 100ms ease-out;
    margin-left: 10px;
}

.checkboxes .recheck:hover {
	border-color: var(--col_2);
}

.checkboxes input[type="checkbox"] {
	position: absolute;
	left: -1000px;
}

.checkboxes .tick {
	position: relative;
	right: calc(var(--checkbox-size) * -0.5);
	top: calc(var(--checkbox-size) * -0.25);
	width: calc(var(--checkbox-size) * 0.25);
	height: calc(var(--checkbox-size) * 0.75);
	border-right: calc(var(--checkbox-size) * 0.25) solid var(--tick-color);
	border-bottom: calc(var(--checkbox-size) * 0.25) solid var(--tick-color);
	-webkit-transform: rotate(45deg) scale(0);
	    -ms-transform: rotate(45deg) scale(0);
	        transform: rotate(45deg) scale(0);
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
	-o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
	transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

.checkboxes .tick_con{
	transform: scale(0);
}

.checkboxes .tick:before {
	content: '';
	position: absolute;
	left: calc(var(--checkbox-size) * -0.125);
	bottom: calc(var(--checkbox-size) * -0.25);
	border: calc(var(--checkbox-size) * 0.125) solid var(--tick-color);
	border-radius: 50%;
}

.checkboxes .tick:after {
	content: '';
	position: absolute;
	right: calc(var(--checkbox-size) * -0.25);
	top: calc(var(--checkbox-size) * -0.125);
	border: calc(var(--checkbox-size) * 0.125) solid var(--tick-color);
	border-radius: 50%;
}

.checkboxes input[type="checkbox"]:checked + label .tick {
	opacity: 1;
	-webkit-transform: rotate(45deg) scale(1);
	    -ms-transform: rotate(45deg) scale(1);
	        transform: rotate(45deg) scale(1);
}

.checkboxes input[type="checkbox"]:checked + label .tick_con{
	transform: scale(1);
}

.checkboxes input[type="checkbox"]:focus + label {
	-webkit-animation-name: cb-pop;
	        animation-name: cb-pop;
	-webkit-animation-duration: 400ms;
	        animation-duration: 400ms;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

@-webkit-keyframes cb-pop {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	33% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
	66% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
	100% {
		tranform: scale(1);
	}
}

@keyframes cb-pop {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	33% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
	66% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
	100% {
		tranform: scale(1);
	}
}


/* viewPostForm.css */
.viewPost_container{
    width: 768px;
}

/* imgUploadForm.css & registrationForm.css*/
.imgUp_container, .registration_container{
    width: 768px;
}
.registration_container .form_container a{
    margin-bottom: 10px;
    display: inline-block;
    color: #0E1A14;
    transition: all 0.3s linear;
}
.registration_container .form_container a:hover{
    color: var(--hover-color);
}
.margin{
    padding-top: 10px;
    padding-bottom: 5px;
}

/* View Post Image CSS */
#view_top{
    align-items: flex-start;
}

.ant-layout{
    min-height: 100vh;
}
